{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, an ecologist and research software engineer.</h3>
        <h3>I work on soil carbon mapping, decomposition models, and species distribution modelling.</h3>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
